body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 120px;
}

input {
  padding: 12px;
  width: 280px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  cursor: pointer;
}

#result {
  margin-top: 30px;
}

footer {
  margin-top: 120px;
  font-size: 14px;
}
